body {
    background-color: skyblue;
}

.intro {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 221px;
}

.active {
    background-color: red !important;
}